:root{
    --backcard-color: hsl(279, 6%, 55%);
    --label-color: hsl(278, 68%, 11%);
    --background-color: hsl(0, 0%, 100%);
    --border-gradient-color-1: hsl(249, 99%, 64%);
    --border-gradient-color-2: hsl(278, 94%, 30%);
    --error-color: rgb(255, 82, 82);
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}