.main {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.sideContainer{
  width: 35%;
  position: relative;
  background-image: url("../public/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContainerWrapper{
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.frontCardContainer, .backCardContainer{
  position: relative;
}

.frontCardContainer{
  left: 25%;
  margin-bottom: 20px;
}

.backCardContainer{
  left: 35%;
  color: hsl(0, 0%, 90%);
}

.cvcContainer{
  position: absolute;
  font-size: clamp(14px, 4vw, 18px);
  top: 65px;
  left: 270px;
  font-weight: 500;
  letter-spacing: 1px;
}

.frontCardInfo{
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--background-color);
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.cardIcon{
  margin: 0 25px;
}

.cardText{
  margin: 0;
}

.cardTextContainer > .cardText{
  text-align: center;
  font-size: clamp(16px, 2.5vw, 25px);
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.cardNameandDate{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: .75rem;
  letter-spacing: 1px;
  margin: 0 30px;
}


.mobileCard {
  display: none;
}


/* Form Layout */

.formContainer{
  flex: 65%;
  min-height: 100%;
  align-self: center;
  font-size: calc(8px + 0.5vw);
  margin-left: 60px;
  z-index: 2;
}

.formWrapper{
  max-width: 350px;
  margin: 0 auto;
}

.formArea{
  display: flex;
  flex-direction: column;
}

.formSection{
  padding-bottom: 20px;
}

.labelStyle{
  color: var(--label-color);
  font-weight: 500;
  letter-spacing: 1px;
}

.inputStyle{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 84%);
}

.inputStyle:focus{
  outline: none;
    border: 1px solid transparent;
    /* Set the border to transparent */
    box-shadow: 0 0 0 1px hsl(249, 99%, 64%), 0 0 0 1px hsl(278, 94%, 30%);
    /* Apply the gradient border as box-shadow */
    transition: box-shadow 0.3s ease-in;
    /* Optional: Add a transition effect */
}


.inputStyle::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 0%, 90%);
    font-weight: 500;
}

.formThirdSection{
  display: flex;
}

.dateWrapper{
  display: flex;
  width: 80%;
}

.dateWrapper > .inputStyle:first-child{
  margin-right: 7px;
}

.formButton button{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  background-color: var(--label-color);
  width: 100%;
  outline: 0;
  border: none;
  text-decoration: none;
  color: var(--background-color);
  border-radius: 5px;
  padding: 15px 20px;
}

.errorBox{
  border-color: var(--error-color);
}

.errorMsgs{
  color: var(--error-color);
}

.confirmationWrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmationWrapper .formButton{
  width: 50%;
}


@media screen and (max-width: 868px) {
  .main{
    flex-direction: column;
    width: 100vw;
  }
  .sideContainer{
      background-image: url("../public/images/bg-main-mobile.png");
      width: 100vw;
      height: 245px;
      max-height: 245px;
      background-size: cover;
  }

  .cardContainer{
    position: absolute;
    top: 0;
  }

  .frontCardContainer {
    top: 140px;
    z-index: 1;
    right: 40px;
    left: 0;
  }

  .backCardContainer {
    bottom: 120px;
    z-index: 0;
    left: 40px;
  }
  
  .cardDesktop{
    display: none;
  }

  .mobileCard{
    display: block;
  }

  .formContainer{
    margin-top: 100px;
    margin-left: 0;
  }

  .cvcContainer{
    top: 46px;
    left: 212px;
  }
  
}

